.footer{
    padding-bottom: 1rem;
    padding-top: 3rem;
    background-color: #034077;
}
.design{
    color: white;
    padding-bottom: 1rem;
}
.politica{
    color: white;
}
.terminos{
    color: white;
    padding-bottom: 1rem;
}
.footer_all{
    text-align: center;
}



/*
.social_media img{
    width: 25px;
    color: white;
}
.in_icon{
    width: 25px;
    color: white;
}
*/